body{
    margin: 0;
    padding: 0;
    background-color: lightblue;
    background-image:url('https://images.unsplash.com/photo-1516617442634-75371039cb3a?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YmFja2dyb3VuZCUyMGltYWdlfGVufDB8fDB8fHww&auto=format&fit=crop&q=60&w=600');
    background-position: top left ;
    background-repeat: no-repeat;
    background-size: cover;
}
p{
     font-family: arial;
        font-size: 20px;
        color: white;
        text-align: center;
        line-height: 1.5;
        margin: 20px;
        text-shadow: 1px 1px 2px rgb(135, 111, 111);
        

}